@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

body {
  margin: 0;
  font-size: 18px;
  scroll-behavior: smooth;
}

/* Navbar Section */

.navbar-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  min-width: 90%;
  margin: 3% 6%;
  z-index: 10;
}

.logo-container img {
  width: 9.44444rem;
  height: 1.83333rem;
}

.logo-container img:hover {
  cursor: pointer;
}

.navbar-container a {
  color: #fff;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.38889rem;
  letter-spacing: -0.00717rem;
  margin-left: 2.61rem;
}

.navbar-container button {
  margin-left: 2.61rem;
  width: 7.77778rem;
  height: 3.11111rem;
  border: none;
  border-radius: 1.55556rem;
  background: #fff;
  color: #24303e;
  font-family: "Fraunces", serif;
  font-size: 0.83333rem;
  font-weight: 700;
  line-height: 1.38889rem;
  letter-spacing: -0.00594rem;
  text-transform: uppercase;
}

.navbar-container a:hover {
  cursor: pointer;
}

.navbar-container button:hover {
  cursor: pointer;
  color: #fff;
  background: #ffffff45;
}

/* Landing Hero Section */

.landing-container {
  position: relative;
  display: flex;
}

.hero-image-container {
  display: flex;
  object-fit: contain;
}

.hero-image-container img {
  display: flex;
  max-width: 100vw;
}

.hero-text-container {
  position: absolute;
  top: 22.5%;
  left: 50%;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text-container h1 {
  color: #fff;
  font-family: "Fraunces", serif;
  font-size: 3.11111rem;
  font-weight: 900;
  letter-spacing: 0.48611rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 3.5rem;
}

/* Transform Brand Section */

.branding-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33.33333rem;
}

.transform-brand-container {
  width: 30%;
  padding: 10%;
}

.transform-brand-container h2 {
  color: #24303e;
  font-size: 2.22222rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: -0.01589rem;
}

.transform-brand-container p {
  color: #808397;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.66667rem;
  letter-spacing: -0.00717rem;
}

.transform-brand-container a {
  color: #24303e;
  font-size: 0.83333rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 1.38889rem;
  letter-spacing: 0.05556rem;
  text-transform: uppercase;
  position: relative;
}

.transform-brand-container a::after {
  content: "";
  width: 110%;
  height: 0.4rem;
  background-color: #fad40045;
  position: absolute;
  bottom: 0;
  left: -5%;
  border-radius: 10px;
  z-index: -1;
}

.transform-brand-container a:hover:after {
  background-color: #fad400;
}

.transform-brand-container a:hover {
  cursor: pointer;
}

.egg-image-container {
  width: 50%;
  overflow: hidden;
  height: 33.33333rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.egg-image-container img {
  min-height: 100%;
}

/* Stand Out Section */

.standingout-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33.33333rem;
}

.cup-image-container {
  width: 50%;
  overflow: hidden;
  height: 33.33333rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cup-image-container img {
  min-height: 100%;
}

.stand-out-container {
  width: 30%;
  padding: 10%;
}

.stand-out-container h2 {
  color: #24303e;
  font-size: 2.22222rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: -0.01589rem;
}

.stand-out-container p {
  color: #808397;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.66667rem;
  letter-spacing: -0.00717rem;
}

.stand-out-container a {
  color: #24303e;
  font-size: 0.83333rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 1.38889rem;
  letter-spacing: 0.05556rem;
  text-transform: uppercase;
  position: relative;
}

.stand-out-container a::after {
  content: "";
  width: 110%;
  height: 0.4rem;
  background-color: #fe776645;
  position: absolute;
  bottom: 0;
  left: -5%;
  border-radius: 10px;
  z-index: -1;
}

.stand-out-container a:hover:after {
  background-color: #fe7766;
}

.stand-out-container a:hover {
  cursor: pointer;
}

/* Graphic Design and Photography Section */

.graphic-photography-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33.33333rem;
}

.graphic-container {
  width: 50%;
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 33.33333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.graphic-container h2 {
  color: #24554a;
  font-size: 1.55556rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: -0.01111rem;
  line-height: 0;
  padding-top: 22rem;
}

.graphic-container p {
  color: #3e7467;
  font-size: 0.88889rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.00633rem;
  padding: 0 10rem;
}

.photography-container {
  width: 50%;
  background-image: url(./images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 33.33333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.photography-container h2 {
  color: #052c3b;
  font-size: 1.55556rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: -0.01111rem;
  line-height: 0;
  padding-top: 22rem;
}

.photography-container p {
  color: #19536c;
  font-size: 0.88889rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.00633rem;
  padding: 0 10rem;
}

/* Footer section */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
