@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

body {
  margin: 0;
  font-size: 18px;
}

.navbar-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  min-width: 90%;
  margin: 3% 6%;
  z-index: 10;
}

.logo-container img {
  width: 9.44444rem;
  height: 1.83333rem;
}

.logo-container img:hover {
  cursor: pointer;
}

.navbar-container a {
  color: #fff;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.38889rem;
  letter-spacing: -0.00717rem;
  margin-left: 2.61rem;
}

.navbar-container button {
  margin-left: 2.61rem;
  width: 7.77778rem;
  height: 3.11111rem;
  border: none;
  border-radius: 1.55556rem;
  background: #fff;
  color: #24303e;
  font-family: "Fraunces", serif;
  font-size: 0.83333rem;
  font-weight: 700;
  line-height: 1.38889rem;
  letter-spacing: -0.00594rem;
  text-transform: uppercase;
}

.navbar-container a:hover {
  cursor: pointer;
}

.navbar-container button:hover {
  cursor: pointer;
}

.landing-container {
  position: relative;
  display: flex;
}

.hero-image-container {
  display: flex;
  object-fit: contain;
}

.hero-image-container img {
  display: flex;
  max-width: 100vw;
}

.hero-text-container {
  position: absolute;
  top: 22.5%;
  left: 50%;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text-container h1 {
  color: #fff;
  font-family: "Fraunces", serif;
  font-size: 3.11111rem;
  font-weight: 900;
  letter-spacing: 0.48611rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 3.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
