@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

body {
  margin: 0;
  font-size: 18px;
  scroll-behavior: smooth;
}

br {
  display: none;
}

.hamburger-menu-container {
  display: none;
}

/* HOME PAGE */

/* Navbar Section */

.navbar-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  min-width: 90%;
  margin: 3% 6%;
  z-index: 10;
}

.logo-container img {
  width: 9.44444rem;
  height: 1.83333rem;
}

.navbar-container a {
  color: #fff;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.38889rem;
  letter-spacing: -0.00717rem;
  margin-left: 2.61rem;
  text-decoration: none;
}

.navbar-container button {
  margin-left: 2.61rem;
  width: 7.77778rem;
  height: 3.11111rem;
  border: none;
  border-radius: 1.55556rem;
  background: #fff;
  color: #24303e;
  font-family: "Fraunces", serif;
  font-size: 0.83333rem;
  font-weight: 700;
  line-height: 1.38889rem;
  letter-spacing: -0.00594rem;
  text-transform: uppercase;
}

.navbar-container a:hover {
  cursor: pointer;
  opacity: 75%;
}

.navbar-container button:hover {
  cursor: pointer;
  color: #fff;
  background: #ffffff45;
}

/* Landing Hero Section */

.landing-container {
  position: relative;
  display: flex;
}

.hero-image-container {
  display: flex;
  object-fit: contain;
}

.hero-image-container img {
  display: flex;
  max-width: 100vw;
}

.hero-text-container {
  position: absolute;
  top: 22.5%;
  left: 50%;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text-container h1 {
  color: #fff;
  font-family: "Fraunces", serif;
  font-size: 3.11111rem;
  font-weight: 900;
  letter-spacing: 0.48611rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 3.5rem;
}

/* Transform Brand Section */

.branding-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33.33333rem;
}

.transform-brand-container {
  width: 30%;
  padding: 10%;
}

.transform-brand-container h2 {
  color: #24303e;
  font-size: 2.22222rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: -0.01589rem;
}

.transform-brand-container p {
  color: #808397;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.66667rem;
  letter-spacing: -0.00717rem;
}

.transform-brand-container a {
  color: #24303e;
  font-size: 0.83333rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 1.38889rem;
  letter-spacing: 0.05556rem;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}

.transform-brand-container a::after {
  content: "";
  width: 110%;
  height: 0.4rem;
  background-color: #fad40045;
  position: absolute;
  bottom: 0;
  left: -5%;
  border-radius: 10px;
  z-index: -1;
}

.transform-brand-container a:hover:after {
  background-color: #fad400;
}

.transform-brand-container a:hover {
  cursor: pointer;
}

.egg-image-container {
  width: 50%;
  overflow: hidden;
  height: 33.33333rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.egg-image-container img {
  min-height: 100%;
}

/* Stand Out Section */

.standingout-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33.33333rem;
}

.cup-image-container {
  width: 50%;
  overflow: hidden;
  height: 33.33333rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cup-image-container img {
  min-height: 100%;
}

.stand-out-container {
  width: 30%;
  padding: 10%;
}

.stand-out-container h2 {
  color: #24303e;
  font-size: 2.22222rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: -0.01589rem;
}

.stand-out-container p {
  color: #808397;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.66667rem;
  letter-spacing: -0.00717rem;
}

.stand-out-container a {
  color: #24303e;
  font-size: 0.83333rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  line-height: 1.38889rem;
  letter-spacing: 0.05556rem;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}

.stand-out-container a::after {
  content: "";
  width: 110%;
  height: 0.4rem;
  background-color: #fe776645;
  position: absolute;
  bottom: 0;
  left: -5%;
  border-radius: 10px;
  z-index: -1;
}

.stand-out-container a:hover:after {
  background-color: #fe7766;
}

.stand-out-container a:hover {
  cursor: pointer;
}

/* Graphic Design and Photography Section */

.graphic-photography-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33.33333rem;
}

.graphic-container {
  width: 50%;
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 33.33333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.graphic-container h2 {
  color: #24554a;
  font-size: 1.55556rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: -0.01111rem;
  line-height: 0;
  padding-top: 21rem;
}

.graphic-container p {
  color: #3e7467;
  font-size: 0.88889rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.00633rem;
  flex-wrap: wrap;
  width: 50%;
}

.photography-container {
  width: 50%;
  background-image: url(./images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 33.33333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.photography-container h2 {
  color: #052c3b;
  font-size: 1.55556rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: -0.01111rem;
  line-height: 0;
  padding-top: 21rem;
}

.photography-container p {
  color: #19536c;
  font-size: 0.88889rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: -0.00633rem;
  flex-wrap: wrap;
  width: 50%;
}

/* Testimonials Section */

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.testimonials-title-container h2 {
  color: #a7aaad;
  font-size: 1.11111rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 0.27778rem;
  text-transform: uppercase;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.testimonials-cards-container {
  display: flex;
  justify-content: center;
}

.testimonials-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-right: 1rem;
}

.testimonial-image-container {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.testimonial-image-container img {
  max-width: 100%;
}

.testimonial-text-container {
  margin-bottom: 2rem;
}

.testimonial-text-container p {
  color: #5b636d;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.77778rem;
  letter-spacing: -0.00717rem;
}

.testimonial-identification {
  margin-bottom: 8rem;
}

.testimonial-identification h3 {
  color: #24303e;
  font-size: 1rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: -0.00717rem;
  line-height: 0;
}

.testimonial-identification p {
  color: #a7aaad;
  font-size: 0.77778rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.38889rem;
  letter-spacing: -0.00556rem;
}

/* Gallery Section */

.gallery-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 25%;
}

.gallery-wrapper {
  width: 25%;
  height: 25rem;
  overflow: hidden;
  object-fit: fill;
}

.gallery-wrapper img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* Footer section */

.footer-container {
  background: #90d4c6;
  width: 100vw;
  height: 17.44444rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo-container {
  margin-bottom: 2rem;
}

.footer-logo-container img {
  filter: invert(40%) sepia(15%) saturate(1337%) hue-rotate(118deg)
    brightness(65%) contrast(94%);
}

.footer-links-container {
  margin-bottom: 4rem;
}

.footer-links-container a {
  color: #458d7e;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.38889rem;
  letter-spacing: -0.00717rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  text-decoration: none;
}

.footer-links-container a:hover {
  cursor: pointer;
  color: #fff;
}

.footer-icons-container img {
  margin-right: 1rem;
  margin-left: 1rem;
}

.footer-icons-container img:hover {
  cursor: pointer;
  filter: invert(100%) sepia(100%) saturate(0%) brightness(200%) contrast(100%);
}

.attribution {
  background: #90d4c6;
  width: 100vw;
  font-family: "Barlow", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.007rem;
  text-align: center;
  color: #2c7566;
  padding-bottom: 2rem;
}

.attribution a {
  color: #2c7566;
}

.attribution a:hover {
  color: #fff;
}

/* Responsive Media Queries */

@media screen and (max-width: 768px) {
  .hamburger-menu-container {
    display: block;
  }

  /* Navbar Section */

  .navbar-container {
    margin: 5%;
  }

  .logo-container img {
    width: 6.86867rem;
    height: 1.33333rem;
  }

  .navbar-container a {
    display: none;
  }

  .navbar-container button {
    display: none;
  }

  .hamburger-menu-icon-wrapper {
    display: flex;
    justify-content: center;
  }

  .hamburger-menu-icon:hover {
    opacity: 50%;
    cursor: pointer;
  }

  .hamburger-links-container a {
    display: block;
    color: #808397;
    margin: 0;
  }

  .hamburger-links-container a:hover {
    opacity: 75%;
  }

  .hamburger-links-container button {
    display: block;
    background: #fad400;
    color: #24303e;
    margin: 0;
  }

  .hamburger-links-container button:hover {
    background: #fad40075;
    color: #24303e;
  }

  .hamburger-links-container {
    display: none;
  }

  .hamburger-links-container.active {
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    left: 0;
    top: 4rem;
    background: #fff;
    width: 100%;
    height: 12rem;
    padding: 2rem 0;
  }

  .hamburger-links-container:after {
    content: "";
    position: absolute;
    top: -4%;
    right: -0.63rem;
    width: 0;
    border: 20px solid transparent;
    border-bottom-color: #fff;
    border-top: 0;
    transform: rotate(-90deg);
  }

  /* Landing Hero Section */

  .landing-container {
    height: 80vh;
  }

  .hero-image-container img {
    min-width: 100vw;
    object-fit: cover;
  }

  .hero-text-container h1 {
    font-size: 2.22222rem;
    letter-spacing: 0.34722rem;
    margin-bottom: 1.5rem;
  }

  /* Transform Brand Section */

  .branding-container {
    flex-direction: column;
    height: auto;
  }

  .transform-brand-container {
    width: 80%;
    padding: 10%;
    text-align: center;
    order: 2;
  }

  .egg-image-container {
    min-width: 100%;
    height: 30rem;
    order: 1;
  }

  .egg-image-container img {
    object-fit: cover;
    min-width: 100%;
  }

  /* Stand Out Section */

  .standingout-container {
    flex-direction: column;
    height: auto;
  }

  .cup-image-container {
    min-width: 100%;
    height: 30rem;
  }

  .cup-image-container img {
    object-fit: cover;
    min-width: 100%;
  }

  .stand-out-container {
    width: 80%;
    padding: 10%;
    text-align: center;
  }

  /* Graphic Design and Photography Section */

  .graphic-photography-container {
    flex-direction: column;
    height: auto;
  }

  .graphic-container {
    width: 100%;
  }

  .photography-container {
    width: 100%;
  }

  /* Testimonials Section */

  .testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
  }

  .testimonials-title-container h2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .testimonials-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .testimonials-card {
    width: 50%;
  }

  .testimonial-image-container {
    margin-bottom: 1rem;
  }

  .testimonial-text-container {
    margin-bottom: 1rem;
  }

  .testimonial-identification {
    margin-bottom: 5rem;
  }

  /* Gallery Section */

  .gallery-container {
    flex-wrap: wrap;
  }

  .gallery-wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  br {
    display: block;
  }

  /* Navbar Section */

  .navbar-container {
    margin-top: 7.5%;
  }

  /* Landing Hero Section */

  .landing-container {
    height: 120vh;
  }

  .hero-image-container img {
    min-width: 100vw;
    object-fit: cover;
  }

  .hero-text-container {
    top: 20%;
    text-align: center;
  }

  .hero-text-container h1 {
    margin-bottom: 1.5rem;
  }

  /* Graphic Design and Photography Section */

  .graphic-container p {
    width: 80%;
  }

  .photography-container p {
    width: 80%;
  }

  /* Testimonials Section */

  .testimonials-card {
    width: 80%;
  }

  /* Gallery Section */

  .gallery-wrapper {
    height: 15rem;
  }

  /* Footer section */

  .footer-links-container {
    margin-bottom: 4rem;
  }

  .footer-links-container a {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .attribution {
    padding-bottom: 1.5rem;
  }
}

/* ABOUT PAGE */

/* Landing Hero Section */

.about-landing-container {
  position: relative;
  display: flex;
}

.about-hero-image-container {
  display: flex;
  object-fit: contain;
}

.about-hero-image-container img {
  display: flex;
  max-width: 100vw;
}

.about-hero-text-container {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-hero-text-container h1 {
  color: #fff;
  font-family: "Fraunces", serif;
  font-size: 3.11111rem;
  font-weight: 900;
  letter-spacing: 0.48611rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 2rem;
}

/* About Text Section */

.about-text-wrapper {
  padding: 5rem 10rem;
}

.about-text-wrapper h2 {
  color: #24303e;
  font-size: 2.22222rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: -0.01589rem;
}

.about-text-wrapper p {
  color: #5b636d;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  line-height: 1.77778rem;
  letter-spacing: -0.00717rem;
}

@media screen and (max-width: 768px) {
  /* Landing Hero Section */

  .about-landing-container {
    height: 80vh;
  }

  .about-hero-image-container img {
    min-width: 100vw;
    object-fit: cover;
  }

  .about-hero-text-container h1 {
    font-size: 2.22222rem;
    letter-spacing: 0.34722rem;
    margin-bottom: 1.5rem;
  }

  /* About Text Section */

  .about-text-wrapper {
    padding: 3rem 6rem;
  }

  .about-text-wrapper h2 {
    font-size: 1.7rem;
  }

  .about-text-wrapper p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 576px) {
  /* Landing Hero Section */

  .about-landing-container {
    height: 120vh;
  }

  .about-hero-image-container img {
    min-width: 100vw;
    object-fit: cover;
  }

  .about-hero-text-container {
    top: 20%;
    text-align: center;
  }

  .about-hero-text-container h1 {
    margin-bottom: 1.5rem;
  }

  /* About Text Section */

  .about-text-wrapper {
    padding: 2rem;
  }

  .about-text-wrapper h2 {
    font-size: 1.5rem;
  }

  .about-text-wrapper p {
    font-size: 0.8rem;
  }
}

/* PROJECTS PAGE */

/* Projects Hero Section */

.projects-landing-container {
  position: relative;
  display: flex;
}

.projects-hero-image-container {
  display: flex;
  object-fit: contain;
}

.projects-hero-image-container img {
  display: flex;
  max-width: 100vw;
}

.projects-hero-text-container {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-hero-text-container h1 {
  color: #fff;
  font-family: "Fraunces", serif;
  font-size: 3.11111rem;
  font-weight: 900;
  letter-spacing: 0.48611rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 2rem;
}

/* Projects Display Section */

.tip-text-container {
  margin: 5rem 6rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: #24303e;
  text-align: center;
}

.projects-display-container {
  margin: 5rem 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card,
.card2,
.card3,
.card4,
.card5,
.card6 {
  position: relative;
  width: 25vw;
  height: 60vh;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 3rem;
}

.card {
  background-image: url(./images/desktop/projects-colibri.jpg);
}

.card2 {
  background-image: url(./images/desktop/projects-cybercode.jpg);
}

.card3 {
  background-image: url(./images/desktop/projects-octopus.jpg);
}

.card4 {
  background-image: url(./images/desktop/projects-headphones.jpg);
}

.card5 {
  background-image: url(./images/desktop/projects-perfume.jpg);
}

.card6 {
  background-image: url(./images/desktop/projects-boots.jpg);
}

.card:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content,
.card__content2,
.card__content3,
.card__content4,
.card__content5,
.card__content6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__content {
  background-color: #ffbfbf;
}

.card__content2 {
  background-color: #121234;
}

.card__content3 {
  background-color: #662d91;
}

.card__content4 {
  background-color: #fad400;
}

.card__content5 {
  background: #b69cff;
  background: -webkit-linear-gradient(to bottom, #01c3cd, #b69cff);
  background: linear-gradient(to bottom, #01c3cd, #b69cff);
}

.card__content6 {
  background-color: #0b0e13;
}

.card:hover .card__content,
.card2:hover .card__content2,
.card3:hover .card__content3,
.card4:hover .card__content4,
.card5:hover .card__content5,
.card6:hover .card__content6 {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
}

.card__description {
  margin: 10px 0 0;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: #fff;
  line-height: 1.4;
}

@media screen and (max-width: 992px) {
  /* Projects Display Section */
  .card,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    width: 38vw;
    height: 70vh;
  }
}

@media screen and (max-width: 768px) {
  /* Projects Hero Section */

  .projects-landing-container {
    height: 80vh;
  }

  .projects-hero-image-container img {
    min-width: 100vw;
    object-fit: cover;
  }

  .projects-hero-text-container h1 {
    font-size: 2.22222rem;
    letter-spacing: 0.34722rem;
    margin-bottom: 1.5rem;
  }

  /* Projects Display Section */
  .projects-display-container {
    margin: 1.5rem 2rem;
  }

  .card,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    width: 40vw;
    height: 70vh;
  }

  .card__title {
    font-size: 1.5rem;
  }

  .card__description {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 576px) {
  /* Projects Display Section */
  .tip-text-container {
    margin: 1.5rem 2rem;
    font-size: 1rem;
  }

  .projects-display-container {
    flex-direction: column;
  }

  .card,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    width: 75vw;
    height: 70vh;
  }

  .card__description {
    font-size: 0.75rem;
  }

  /* Projects Hero Section */

  .projects-landing-container {
    height: 120vh;
  }

  .projects-hero-image-container img {
    min-width: 100vw;
    object-fit: cover;
  }

  .projects-hero-text-container {
    top: 20%;
    text-align: center;
  }

  .projects-hero-text-container h1 {
    margin-bottom: 1.5rem;
  }
}
